<ion-header>
    <ion-toolbar>
        <ion-title>Angular Camera App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <h1>Angular Camera App</h1>
        <video #videoElement autoplay></video>
        <canvas #canvasElement></canvas>
        <ion-button (click)="capture()">Capturar foto</ion-button>
        <ion-button *ngIf="(user$ | async) === null" (click)="login()">Iniciar sesión</ion-button>
        <ion-button *ngIf="(user$ | async) !== null" (click)="logout()">Cerrar sesión</ion-button>
        <ion-button *ngIf="(user$ | async) !== null" (click)="uploadImage()">Subir foto</ion-button>
        <table *ngIf="images.length > 0">
            <thead>
                <tr>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let image of images">
                    <td><img [attr.src]="image" width="100" height="100" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</ion-content>